A:link {
    color: #f50a0a;
    text-decoration: none;
}

A:visited {
    color: #f50af5;
    text-decoration: none;
}

A:active {
    color: #0a0af5;
    text-decoration: none;
}

A:hover {
    text-decoration: underline;
}

A.eternal:link {
    color: #f50a0a;
    text-decoration: none;
}

A.eternal:visited {
    color: #f50a0a;
    text-decoration: none;
}

A.eternal:active {
    color: #0a0af5;
    text-decoration: none;
}

A.eternal:hover {
    text-decoration: underline;
}

BODY {
    background-color: #fff5ee;
    color: #0a0a0a;
}

TABLE {
    empty-cells: show;    
}

TABLE TR TH {
    padding: 3px;
    border-collapse: collapse;
}

TABLE TR TD {
    padding: 3px;
    border-collapse: collapse;
}

TABLE.plain {
    empty-cells: show;
    border-style: solid solid none none;
    border-spacing: 0;
    border-width: 1px;
}

TABLE.plain TR TH {
    padding: 3px;
    border-collapse: collapse;
    border-style: none none solid solid;
    border-width: 1px;
}

TABLE.plain TR TD {
    padding: 3px;
    border-collapse: collapse;
    border-style: none none solid solid;
    border-width: 1px;
}

TABLE.message {
    empty-cells: show;
}

TABLE.message TR TH {
    padding: 5px;
    border-collapse: separate;
}

TABLE.message TR TD {
    padding: 5px;
    border-collapse: collapse;
}

.elem {
    width: 170px;
}

.wide_elem {
    width: 200px;
}

.fixed {
    font-family: monospace;
}

INPUT.day {
    border-right: none;
    font-family: monospace;
    width: 48px;
}

INPUT.dot:disabled {
    border-right: none;
    border-left: none;
    font-family: monospace;
    background-color: Window;
    color: WindowText;
    padding: 0;
    margin: 0;
}

INPUT.year {
    border-left: none;
    font-family: monospace;
    width: 39px;
}

INPUT.only_year {
    font-family: monospace;
    width: 39px;
}

INPUT.hidden {
    visibility: hidden;
    width: 0;
    height: 0;
}

TABLE.menu {
    border-style: none;
    border-bottom-style: inset;
    empty-cells: show;
    width: 100%;
    vertical-align: middle;
    border-bottom-width: thin;
}

TABLE.menu TR TH {
    padding: 5px;
    border-collapse: separate;
}

TABLE.menu TR TD {
    padding: 5px;
    border-collapse: separate;
}

TEXTAREA.menu {
    width: 100%;
    border-style: none;
    font-size: 0.7em;
    background-color: transparent;
    color: WindowText;
    overflow: visible;
    font-weight: bold;
}

TEXTAREA.sql {
    width: 100%;
    font-size: x-large;
    font-family: monospace;
    font-weight: bold;
}

SELECT.sql {
    width: 67em;
    font-size: small;
    font-family: monospace;
}

table.form {
    border-style: solid;
    border-width: 1px;
    background: rgb(255,245,224);
}

table.info {
    width: 65%;
    background: #DDDDFF;
}