A:link {
    color: #f50a0a;
    text-decoration: none;
}

A:visited {
    color: #f50af5;
    text-decoration: none;
}

A:active {
    color: #0a0af5;
    text-decoration: none;
}

A:hover {
    text-decoration: underline;
}

.eternal:link {
    color: #f50a0a;
    text-decoration: none;
}

.eternal:visited {
    color: #f50a0a;
    text-decoration: none;
}

.eternal:active {
    color: #0a0af5;
    text-decoration: none;
}

.eternal:hover {
    text-decoration: underline;
}

BODY {
    background-color: #fff5ee;
    color: #0a0a0a;
}

FORM {
    display: inline;
}

TABLE {
    empty-cells: show;
}

.elem {
    width: 170;
}

.wide_elem {
    width: 200;
}

.day {
    border-right: none;
    font-family: monospace;
    width: 48;
}

.dot {
    border-right: none;
    border-left: none;
    font-family: monospace;
    color: black;
}

.year {
    border-left: none;
    font-family: monospace;
    width: 39;
}

.hidden {
    visibility: hidden;
    width: 0;
    height: 0;
}
